.container-form {
  padding-top: 70px;

}

.card {
  background-color:rgba(52, 203, 103, 0.93);
  border-radius: 15px;
}

body {


  background-image: url('../images/papel-textura3.jpg');
}

.jumbotron {
  width: 100%;
  height: 90vh;
}

footer {
  background-color: rgba(52, 203, 103, 0.93);
  width: 100%;
  height: 10vh;
  margin-bottom: 0;
}
