.container-form {
  padding-top: 70px;

}

.div-shadow {
  -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card {
  -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
  background-color:rgba(170, 249, 154, 0.93);
  border-radius: 15px;
}

body {
  /* background-image: url('../images/bk-image-unique5.jpg'); */
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

nav {
  background-color: rgba(0, 0, 0, 0.72);
}

footer {
  background-color: rgba(0, 0, 0, 0.72);
}

h1 {
  font-size: 60px;
  margin-bottom: 80px;
}
